@model IEnumerable<Models.Block>
@{
    Layout = "";
}

<p>
    @if (Model == null)
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> Blockchain not initialized!
        </div>
    }
    else if (!Model.Any())
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> Blockchain is empty
        </div>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Hash</th>
                    <th>Previous block hash</th>
                    <th>Transactions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var block in Model)
                {
                    <tr>
                        <td>@block.Hash</td>
                        <td>@block.PreviousBlockHash</td>
                        <td>
                            @foreach (var transaction in block.Data.Transactions)
                            {
                                @Html.Raw($"{nameof(transaction.Sender)}: {transaction.Sender} | ")
                                @Html.Raw($"{nameof(transaction.Receiver)}: {transaction.Receiver} | ")
                                @Html.Raw($"{nameof(transaction.Amount)}: {transaction.Amount}</br></br>")
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</p>