@model PutCoinSimulator.ViewModels.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Settings.ApplicationName</h1>
    <p>
        Control settings and manage working of application
    </p>
    <p>@Html.ActionLink("Go to control", "Index", "Control", null, new { @class = "btn btn-primary" })</p>
</div>

<div class="container">
    <div class="row">
        <h2>Blockchain</h2>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#blockchain-collapse">Show blockchain</a>
                    </h4>
                </div>
                <div id="blockchain-collapse" class="panel-collapse collapse">
                    <div id="blockchain-partial">Loading...</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2>Commisioned transactions</h2>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#commisioned-transactions-collapse">Show commisioned transactions</a>
                    </h4>
                </div>
                <div id="commisioned-transactions-collapse" class="panel-collapse collapse">
                    <div id="commisioned-transactions-partial">Loading...</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2>Unreleased Transactions</h2>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#unreleased-transactions-collapse">Show unreleased Transactions</a>
                    </h4>
                </div>
                <div id="unreleased-transactions-collapse" class="panel-collapse collapse">
                    <div id="unreleased-transactions-partial">Loading...</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2>Pockets</h2>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#pockets-collapse">Show pockets</a>
                    </h4>
                </div>
                <div id="pockets-collapse" class="panel-collapse collapse">
                    <div id="pockets-partial">Loading...</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        refreshPartial();
        setInterval(refreshPartial, @Model.RefreshPartialsMilisecondsInterval);
    });

    function refreshPartial() {
        $("#blockchain-partial").load('@Url.Action("Blockchain")');
        $("#commisioned-transactions-partial").load('@Url.Action("CommisionedTransactions")');
        $("#unreleased-transactions-partial").load('@Url.Action("UnreleasedTransactions")');
        $("#pockets-partial").load('@Url.Action("Pockets")');
    }
</script>