@model PutCoinSimulator.ViewModels.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Settings.ApplicationName</h1>
    <p>
        Control settings and manage working of application
    </p>
    <p>@Html.ActionLink("Go to control", "Index", "Control", null, new { @class = "btn btn-primary" })</p>
</div>

<div class="container">
    <div class="row">
        <h2>Blockchain</h2>
        <div id="blockchain-partial">Loading...</div>
    </div>

    <div class="row">
        <h2>Commisioned Transactions</h2>
        <div id="commisioned-transactions-partial">Loading...</div>
    </div>

    <div class="row">
        <h2>Unreleased Transactions</h2>
        <div id="unreleased-transactions-partial">Loading...</div>
    </div>

    <div class="row">
        <h2>Pockets</h2>
        <div id="pockets-partial">Loading...</div>
    </div>
</div>

<script>
    $(document).ready(function () {
        refreshPartial();
        setInterval(refreshPartial, @Model.RefreshPartialsMilisecondsInterval);
    });

    function refreshPartial() {
        $("#blockchain-partial").load('@Url.Action("Blockchain")');
        $("#commisioned-transactions-partial").load('@Url.Action("CommisionedTransactions")');
        $("#unreleased-transactions-partial").load('@Url.Action("UnreleasedTransactions")');
        $("#pockets-partial").load('@Url.Action("Pockets")');
    }
</script>